<!-- (mdSortChange)="appTable.sort.emit($event)" -->
<!-- <md-table #table [hidden]="dataSource.mdPaginator.length === 0" [dataSource]="dataSource" mdSort> -->

<!-- <div #contentWrapper>

</div>` -->
<!-- </md-table> -->
<!--  -->
<!--  -->
<md-table #table [hidden]="dataSource.mdPaginator.length === 0" mdSort [dataSource]="dataSource" [innerHtml]="innerHtml1">
  <!-- <ng-container mdColumnDef="timestamp">
    <md-header-cell *mdHeaderCellDef md-sort-header> Timestamp </md-header-cell>
    <md-cell *mdCellDef="let row">{{row.entity.timestamp | date:'medium'}}</md-cell>
  </ng-container>
  <md-header-row *mdHeaderRowDef="['timestamp']">
  </md-header-row>
  <md-row *mdRowDef="let row; columns: ['timestamp'];">
  </md-row> -->
</md-table>
<!-- <ng-content select="[app-table-content]" app-table-content></ng-content> -->
<!-- <ng-template>
  <ng-content select="[app-table-content]"></ng-content>
</ng-template> -->
<!-- <div>

</div> -->
<!-- <ng-content></ng-content> -->
<!-- <ng-container *ngTemplateOutlet="content.content"></ng-container> -->
<!-- <ng-content></ng-content> -->
<ng-content></ng-content>
